<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action={% url 'index' %} method ="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="image" name="image">
        <input type="text" id="font" name="font">
        <input type="text" id="size" name="size">
        <input type="text" id="colour" name="colour">
        <input type="file" id="datacsv" name="datacsv">
        <input type="text" id="position" name="position">
        <input type="submit"  value="sumbit">
        
    </form>
</body>
</html>